__pycache__/
*.py[oc]
*$py.class
build/
dist/
wheels/
*.egg-info
*.egg
*.whl

.venv/
venv/
env/
ENV/

.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.log

*.pid
*.lock
*.sqlite3
*.db

.idea/
.vscode/
*.DS_Store